{% extends '::Base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <video id="peer2-to-peer1" autoplay controls style="width:40%;"></video>
                {#<video autoplay class="video-caller"></video>#}
            </div>
            <div class="col-md-6">
                <video id="peer1-to-peer2" autoplay controls style="width:40%;"></video>
                {#<video autoplay class="video-myself"></video>#}
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}